.speaker {
  height: fit-content;
  padding-top: 2rem;
  position: relative;
  .vector {
    position: absolute;
    right: 5vw;
    top: 0;
    transform: rotateZ(90deg);
    width: 8rem;
  }
  .speaker-heading {
    font-family: var(--gdsc-font-1);
    font-size: var(--gdsc-explore-heading-size-desktop);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: var(--gdsc-blue-header);
    margin: 0 0 3rem 0;
  }
  .speaker-list {
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .speaker {
    .vector {
      display: none;
    }
    .speaker-list {
      padding: 0 0rem;
    }
  }
}

@media (max-width: 480px) {
  .speaker {
    .speaker-heading {
      margin: 0 0 1.5rem 0;
      font-size: var(--gdsc-explore-heading-size-mobile);
    }
  }
}
