.card {
  width: 25%;
  margin: 3rem 2rem;
  position: relative;
  display: inline-block;
  font-family: var(--gdsc-font-1);
  cursor: pointer;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  perspective-origin: center center;
  transition: 0.3s;
  transition-timing-function: ease-out;

  &:hover {
    transform: scale(1.08);
    transition: all 0.3s;
    .card-img {
      box-shadow: 0 0.25rem 1.25rem 0.25rem #00000099;
    }
    .card-details {
      background-color: var(--gdsc-blue-4-100);
      color: var(--explore-white-1-100);
      .card-socials {
        height: 2rem;
        .social-icon {
          opacity: 1;
        }
      }
    }
  }
  .card-img {
    border-radius: 0.5rem;
    width: 100%;
    height: 24rem;
    object-fit: cover;
  }
  .card-details {
    width: 80%;
    padding: 0.5rem 0.7rem;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0.125rem 0.125rem 0.95rem rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    .card-name {
      display: block;
      font-weight: 500;
      font-size: 1.5rem;
    }
    .card-desg {
      display: block;
      font-size: 0.75rem;
    }
    .card-socials {
      height: 0;
      transition-duration: 0.3s;
      overflow: hidden;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 0.5rem;
      .social-icon {
        all: unset;
        font-size: 1.35rem;
        color: var(--explore-white-1-100);
        opacity: 0;
        transition: 0.3s;
      }
    }
  }
}

@media (max-width: 1024px) {
  .card {
    &:hover {
      .card-details {
        .card-socials {
          height: 1.75rem;
        }
      }
    }
    width: 35%;
    .card-img {
      height: 18rem;
    }
    .card-details {
      .card-name {
        font-size: 1rem;
      }
      .card-desg {
        font-size: 0.8rem;
      }
      .card-socials {
        .social-icon {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .card {
    width: 75%;
    margin: 2rem 1rem;
    &:hover {
      .card-details {
        .card-socials {
          height: 1.5rem;
        }
      }
    }
    .card-img {
      height: 15rem;
    }
    .card-details {
      .card-name {
        font-size: 0.8rem;
      }
      .card-desg {
        font-size: 0.6rem;
      }
      .card-socials {
        .social-icon {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 480px) {
}
