// This is a part of Template
.btn {
  outline: none;
  border: 0.0625rem solid var(--theme-1-100);
}
.button {
  outline: none;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 0.25rem;
  font-weight: 400;
  font-size: 1.125rem;
  cursor: pointer;
  transition: 0.3s ease;
  box-sizing: border-box;
  border: 0.0625rem solid #0176fa;
  background: none;
  color: #0176fa;
  width: fit-content;
  &:hover {
    background-color: #e4eefc;
  }
}

.medium {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.small {
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
}
.large {
  padding: 1rem 2.5rem;
  font-size: 1.125rem;
}
.primary {
  background: #0176fa;
  color: #ffffff;
}

.primary:hover {
  background-color: #1765cc;
}
