.hero {
  height: calc(100vh - 4.375rem);
  display: flex;
  justify-content: center;
  padding: 3vw 0;
  gap: 3vw;
  position: relative;
  .left {
    padding: 1rem;
    h1 {
      padding: 1rem;
      font-weight: 600;
      font-size: 4rem;
      color: #343434;
      user-select: none;
    }
    h2 {
      font-weight: 400;
      font-size: 1.75rem;
      line-height: 3rem;
      letter-spacing: 0.015625rem;
      padding: 1rem;
    }
    p {
      display: flex;
      align-items: center;
      padding: 2rem 1rem 4rem;
      letter-spacing: 0.009721125rem;
      img {
        margin-right: 1.25rem;
      }
    }
    .btn {
      padding: 1rem;
    }
  }
  .scrollbtn {
    position: absolute;
    background: none;
    border: none;
    bottom: 3vh;
    cursor: pointer;
  }
}

@media (max-width: 1112px) {
  .hero {
    .left {
      text-align: center;
      padding: 10vh;
      h1 {
        display: flex;
        justify-content: center;
      }
      p {
        padding-bottom: 2rem;
        justify-content: center;
      }
    }
    .right {
      display: none;
    }
    .btn {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 602px) {
  .hero {
    padding-top: 9vw;
    .left {
      h1 {
        font-size: 3rem;
      }
      p {
        padding-bottom: 2rem;
        justify-content: center;
      }
      h2 {
        text-align: center;
      }
    }
    .scrollbtn {
      bottom: 12vh;
    }
    .btn {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (max-width: 385px) {
  .hero {
    padding: 0;
    .left {
      h1 {
        padding: 0;
      }
      p {
        padding: 0 1rem;
      }
    }
  }
}
