.navbar {
  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  position: fixed;
  z-index: 999;

  .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .img {
      width: 88px;
    }
    h2 {
      color: #505050;
    }
  }
  .hamburger {
    display: none;
    cursor: pointer;
    appearance: none;
    outline: none;
    border: none;
    background: none;
    right: 0;
    i {
      color: #333;
    }
  }

  //label{}
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      list-style: none;
      line-height: 30px;
      margin: 0 20px;
      a {
        color: #505050;
        font-size: 17px;
        font-weight: 500;
        text-decoration: none;
      }
      a:hover {
        color: #547dbf;
        transition: 0.3s;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    .brand {
      h2 {
        display: none;
      }
    }
    .hamburger {
      display: block;
      z-index: 100;
      transition: 0.3s ease-in-out;
    }
    ul {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 130px;
      position: fixed;
      width: 300px;
      top: 0;
      right: -310px;
      height: 100vh;
      background: #ffffff;
      box-shadow: 17px 0px 8px -8px rgba(0, 0, 0, 0.05);
      transition: 0.3s ease-in-out;
      li {
        margin-bottom: 40px;
      }
    }
    .activelinks {
      right: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    height: 25px;
    padding-top: 5px;
    .brand {
      .img {
        width: 32px;
      }
    }
  }
}
