.container {
  height: fit-content;
  padding: 3vw 5vw;
  .title {
    text-align: center;
    padding: 1rem 1rem 1.5rem;
    h1 {
      font-family: var(--gdsc-font-1);
      font-size: var(--gdsc-explore-heading-size-desktop);
      font-weight: 600;
      color: var(--gdsc-blue-header);
    }
  }
  .rules {
    width: 100%;
    padding: 1em 0;
    .rule {
      width: 83vw;
      margin: auto;
      padding: 0.4em 1em;
      color: var(--gdsc-text-grey);
    }
    @media (min-width: 1500px) {
      .rule {
        width: 80vw;
      }
    }
  }
}

@media (max-width: 1024px) {
  .rules {
    padding: 0;
    .rule {
      padding: 1em 0;
    }
  }
}

@media (max-width: 768px) {
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    .title {
      h1 {
        font-size: var(--gdsc-explore-heading-size-mobile);
      }
    }
  }
}
