.container {
  height: fit-content;
  padding: 3vw 5vw;
  z-index: 1;
  .title {
    text-align: center;
    padding: 1rem 1rem 1.5rem;
    h1 {
      font-family: var(--gdsc-font-1);
      font-size: var(--gdsc-explore-heading-size-desktop);
      font-weight: 600;
      color: var(--gdsc-blue-header);
    }
  }
  .rules {
    width: 100%;
    padding: 1em 0;
    background: linear-gradient(
      290.61deg,
      rgba(75, 140, 208, 0.2) 0%,
      rgba(75, 140, 208, 0.04) 100%
    );
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    .rule {
      width: 83vw;
      margin: auto;
      padding: 0.4em 1em;
      color: var(--gdsc-text-grey);
    }
    .btn {
      display: flex;
      justify-content: center;
      button {
        color: var(--gdsc-blue-2-100);
        background: none;
        border: none;
        cursor: pointer;
      }
    }
    @media (min-width: 1500px) {
      .rule {
        width: 80vw;
      }
    }
  }
}

@media (max-width: 1024px) {
  .rules {
    padding: 0;
    .rule {
      padding: 1em 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .container {
    .title {
      h1 {
        font-size: var(--gdsc-explore-heading-size-mobile);
      }
    }
  }
}
